<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeSite</title>
    {% load my_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="head_area">
    <h3>{{ blog.title }}</h3>
</div>
<div class="nav">
    <ul class="nav_ul">
        <li><a href="#">BigV</a></li>
        <li><a href="/index/">首页</a></li>
        <li><a href="#">新随笔</a></li>
        <li><a href="/blog/backend/">后台管理</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        {% get_menu username %}

        </div>
        <div class="col-md-8">
            {% block content %}

            {% endblock %}

        </div>

    </div>
</div>
</body>
</html>